.detailed {
    position: relative;
    background: linear-gradient(180deg, rgba(0, 102, 255, 0.7) 0%, rgba(0, 102, 255, 0) 100%);
    margin: 0px; 
    padding: 0px;
    
}

.nav {
    display: flex;
    justify-content: space-around;
}

.details {
    display: flex;
    padding-top: 20px;
    gap: 20px;
    
}

.login {
    background-color: rgb(0, 119, 255);
    padding: 8px 10px;
    margin-top: 10px;
    height: 20px;
    width: 50px;
    border-radius: 10px;

}
a {
    text-decoration: none;
    color: black;
    
}

.location {
    position: absolute;
    width: 1319px;
    height: 509.3px;
    left: 137px;
    top: 212px;
    background-image: url(./img/datingscout--KFh-zLMwIU-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.927) rgba(255, 255, 230, 0.012));
    
}

.different_option {
    width: 40rem;
    margin-top: 285px;
    margin-bottom: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}




