.detailed {
  position: relative;
  background: linear-gradient(
    180deg,
    rgba(0, 102, 255, 0.7) 0%,
    rgba(0, 102, 255, 0) 100%
  );
  margin: 0px;
  padding: 0px;
}

nav {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}
