body {
  background: #e5e5e5;
  width: 100%;
}
.detailed {
  /* position: relative; */
  background: linear-gradient(
    180deg,
    rgba(0, 102, 255, 0.7) 0%,
    rgba(0, 102, 255, 0) 100%
  );
  margin: 0px;
  padding: 0px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.details {
  display: flex;
  gap: 4rem;
}

.login {
  background-color: #0066ff;
  width: 3rem;
  height: 1rem;
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px 5px 8px 8px;
}

.location_info {
  display: flex;
  margin-top: 100px;
  justify-content: space-between;
}

.comfort_term {
  /* position: absolute; */
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ff5c00;
}

.find_state {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700px;
  font-size: 69px;
  line-height: 120%;
  color: #061224;
}

.more_details {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #061224;
  margin-top: 50px;
  opacity: 0.7;
}

.residence_area {
  position: absolute;
  width: 700px;
  height: 70px;
  border: 1px solid rgba(26, 15, 9, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 18px 40px;
  background: #ffffff;
  margin-top: 50px;
  margin-bottom: 0px;
  border-radius: 20px;
  gap: 20px;
}

.more_info {
  margin-left: 2rem;
}

.press {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 50px;
  border: 1px solid rgba(26, 15, 9, 0.1);
  border-radius: 10px;
}

.search {
  width: 10px;
  height: 10px;
  padding-bottom: 5px;
}

.property_option {
  border: 1px solid rgba(26, 15, 9, 0.1);
  padding: 10px 20px;
  border-radius: 10px;
}

.price_values {
  border: 1px solid rgba(26, 15, 9, 0.1);
  padding: 10px 20px;
  border-radius: 10px;
}

button {
  border-style: none;
  background-color: white;
}

.vist_button {
  background: #0066ff;
  border-radius: 10px;
  padding: 10px 25px;
}
.first_section {
  margin-top: 100px;
}

.feature_info {
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  color: #061224;
}

.feature_desicription {
  margin-top: 50px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #061224;
  opacity: 0.5;
}
.property {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 80px;
}

.property1,
.property2,
.property3 {
  width: 358px;
  height: 409px;
  margin-left: 50px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.property1_1 {
  height: 242px;
  width: 358px;
  background-image: url(./img/aranprime-KbytCpI1i5I-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  background: linear-gradient(
    gradient(180deg, rgba(25, 15, 9, 0) 0%, #190f09 100%)
  );
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.property2_1,
.property3_1 {
  height: 242px;
  width: 358px;
  background-image: url(./img/curology-6CJg-fOTYs4-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  background: linear-gradient(
    gradient(180deg, rgba(25, 15, 9, 0) 0%, #190f09 100%)
  );
  border-radius: 0px;
  margin-top: -15px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 0px;
}
.property3_1 {
  background-image: url(./img/samuel-figueroa-8tczDCFNBkg-unsplash.jpg);
}

.feature01 {
  margin-left: 20px;
}
.feature02 {
  width: 38.25px;
  height: 100px;
  background: #0075ff;
  transform: rotate(-40.03deg);
  align-self: flex-start;
  margin-right: 60px;
  margin-top: -10px;
  padding: 2px;
}

.feature02_1 {
  font-family: "Helvetica";
  width: 66px;
  height: 21px;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400px;
  letter-spacing: 0.1em;
  transform: rotate(8deg);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.property1_1_2 {
  margin-top: 20px;
}

.adviser_head {
  width: 256px;
  height: 33px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  color: #051023;
  margin-left: 20px;
}
.location1 {
  display: flex;
  gap: 10px;
}
.location_i {
  height: 20px;
  width: 20px;
  margin-left: 20px;
}

.location2 {
  display: flex;
  gap: 10px;
}

.bed {
  margin-left: 20px;
  margin-right: 10px;
}

.values,
.bathtab,
.sqft {
  margin-right: 10px;
}
.services {
  width: 1134px;
  height: 615px;
}

h3 {
  width: 428px;
  height: 52px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  color: #061224;
  text-align: center;
  margin-left: 450px;
}
.details_years {
  width: 564px;
  height: 54px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #061224;
  opacity: 0.5;
  margin-left: 400px;
}

.more_service {
  display: flex;
  justify-content: space-evenly;
}

.graducate,
.rent_1,
.sell_home {
  width: 100px;
  height: 100px;
  text-align: center;
  background: linear-gradient(180deg, #ff792e 0%, #ff7878 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rent_1 {
  background: linear-gradient(180deg, #387cff 0%, #38cfff 100%);
}

.sell_home {
  background: linear-gradient(180deg, #bf38ff 0%, #ff38a3 100%);
}

.graducate_1,
.rent,
.sell_home1 {
  height: 26px;
}

.home_purchase_details {
  width: 272px;
  height: 81px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #061224;
  opacity: 0.7;
  margin-left: 50px;
}

h4,
.rent_home,
.sell_one {
  width: 141px;
  height: 36px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #061224;
}

h5 {
  color: #ff5c00;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.contact_details {
  /* width: 1500px; */
  height: 373px;
  margin-top: 100px;
}

.contact_details_item {
  width: 1500px;
  height: 319px;
  background: #061224;
  display: flex;
  justify-content: space-between;
  margin-right: 0px;
}

.contact_details_item_1 {
  width: 425px;
  height: 319px;
  background: url(./img/13\ 2.jpg);
}

.contact_details_item_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dail_contact {
  display: flex;
  gap: 20px;
}

.contact_details_item_2_call {
  color: white;
  height: 25px;
  margin-top: 15px;
}

.calling_details {
  width: 160px;
  height: 36px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
}

.phone_contact {
  width: 313px;
  height: 52px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  color: #ffffff;
}

.meassage_call {
  width: 360px;
  height: 51px;
  display: flex;
  gap: 20px;
}

.meassage_button,
.call_button {
  width: 173px;
  height: 51px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  background: #061224;
  color: white;
}

.call_button {
  background: #0066ff;
}

.construction_features {
  width: 487.63px;
  height: 319px;
  background-image: url(./img/michele-bitetto-84ZA1jFsfzM-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.client_reviews {
  width: 1134px;
  height: 429px;
  margin-left: 100px;
}

.client_reviews_heading {
  width: 527px;
  height: 52px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  color: #061224;
}

.client_reviews_text {
  margin-top: -30px;
  width: 642px;
  height: 54px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #061224;
  opacity: 0.5;
}

.client_reviews_comments {
  display: flex;
  gap: 20px;
  align-items: center;
}

.client_reviews_comments_1 {
  box-sizing: border-box;
  width: 552px;
  height: 248px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.client_reviews_comments_1_1,
.client_reviews_comments_1_2 {
  display: flex;
  gap: 15px;
  margin-top: 40px;
  align-items: flex-start;
}

.client_reviews_comments_1image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin-top: 0px;
}

.star_credit {
  width: 95px;
  height: 14.41px;
  background-color: orange;
}

.client_name,
.client_name2 {
  width: 137px;
  height: 36px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #061224;
}

.client_reward_details {
  margin-top: -5px;
}

.like_review,
.like_review2 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  color: #061224;
}

.client_reviews_text {
  width: 472px;
  height: 81px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #061224;
  opacity: 0.7;
}

.client_reviews_comments_1text,
.client_reviews_comments_1text2 {
  width: 481px;
  height: 81px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #061224;
  opacity: 0.7;
}

.partners {
  width: 1100px;
  height: 190px;
}
.partner_names {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 100px;
  margin-left: 100px;
}

.partner_names1,
.partner_names2,
.partner_names3,
.partner_names4 {
  display: flex;
  gap: 15px;
}

.house1,
.house2,
.house3,
.house4 {
  width: 60px;
  height: 56px;
}

.name_partner01,
.name_partner02,
.name_partner03,
.name_partner04 {
  width: 119px;
  height: 15px;
  font-weight: 800;
}

.name_partner02 {
  color: maroon;
}
.name_partner03 {
  color: yellow;
}
.name_partner04 {
  color: #38cfff;
}

.footer_bar {
  /* width: 1500px; */
  height: 438px;
  background: #061224;
  margin-top: 100px;
}

.footer_bar_1_1 {
  /* width: 1500px; */
  height: 170px;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ffffff;
}

.footer_bar_1_1_1 {
  display: flex;
  gap: 20px;
  margin-left: 50px;
}

.munno_image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-top: 20px;
}

.munno_text {
  width: 128px;
  height: 36px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
}

.footer_bar_1_1_2 {
  margin-top: 20px;
}

.fa-brands {
  width: 40px;
  height: 40px;
  margin: 0px;
  padding: 0px;
}
.fa-facebook {
  color: rgb(173, 211, 230);
  font-size: 35px;
}

.fa-twitter {
  font-size: 30px;
  text-align: center;
  color: white;
}

.fa-square-instagram {
  color: #ff5c00;
  font-size: 30px;
  height: 30px;
  width: 30px;
}

.fa-youtube {
  font-size: 30px;
  color: red;

  text-align: center;
  height: 30px;
  width: 30px;
}

.footer_bar_2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.footer_bar_2_1heading,
.footer_bar_2_1heading2,
.footer_bar_2_1heading3 {
  width: 61px;
  height: 27px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #ffffff;
}

.footer_bar_2_2 {
  width: 178px;
  height: 27px;
}

.footer_bar_2_1text1,
.footer_bar_2_1text2,
.footer_bar_2_1text3 {
  width: 328px;
  height: 84px;
  color: #ffffff;
  opacity: 0.7;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
.footer_bar_2_1text2 {
  width: 247.4px;
  height: 124px;
}

.footer_bar_2_1text3 {
  width: 83.93px;
  height: 73px;
}

.copyright {
  width: 100%;
  height: 67px;
  color: white;
  background: #0a1a31;
  text-align: center;
  padding-top: 50px;
}

.services1 {
  width: 358px;
  height: 419px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 179px 179px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .details {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .login {
    margin-left: 20px;
  }
  .more_info {
    width: 100%;
    text-align: center;
    margin-left: 10px;
  }
  .comfort_term {
    font-size: 13px;
  }
  .find_state {
    font-size: 40px;
  }
  .more_details {
    font-size: 20px;
    padding-right: 10px;
  }
  .location_info {
    display: flex;
    flex-direction: column;
    gap: 400px;
  }
  .residence_area {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 50px;
  }
  img {
    width: 100%;
    height: 255;
  }
  .property {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
